/* General setup */

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Slab:wght@700&display=swap');

body {
  font-family: 'Lora', serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}



/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}