/* General setup */

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Slab:wght@700&display=swap');

body {
  font-family: 'Lora', serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}





h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
}


section p {
  text-indent: 2rem;
}


main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

a {
  color: #6e90ff;
  text-decoration: underline;
  outline: none;
}

a:visited {
  color: hsl(217, 100%, 66%);
}

a:hover,
a:focus {
  text-decoration: none;
}


ul,
ol {
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: square;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 8px;
}

nav a {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2326cf;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}

nav a:hover,
nav a:focus {
  background-color: #3759ff;
}



/* header and footer */

header {
  border-bottom: 5px solid #6e90ff;
}

footer {
  border-top: 5px solid #6e90ff;
}

footer p {
  text-align: center;
}